.date-selector__button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
  font-size: 10px;
  line-height: 0;
  margin: 10px 3px;
  min-width: 13px;
  height: 13px;
}

.date-selector {
  padding-left: 35px;
  padding-top: 2px;
}

.date-selector__selected-year-and-month {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  min-width: 80px;
}

.button_current-date {
  padding: 0 4px;
}
