<div class="one-day" (click)="onClicked(thisDay)">
  <ng-container *ngIf="firstWeekFlag">
    <p>{{thisDay | date: 'EEEE, d'}}</p>
  </ng-container>
  <ng-container *ngIf="!firstWeekFlag">
    {{thisDay | date: 'd'}}
  </ng-container>
  <ng-container *ngFor="let event of events">
    <ng-container *ngIf="event.date === thisDay">
      <p>{{event.title}}</p>
      <p>{{event.description}}</p>
      <p>members: {{event.members}}</p>
    </ng-container>
  </ng-container>
</div>
<div class="event-editor" *ngIf="userClickedOnThisDay && selectedDayForEditEvent === thisDay">
  <app-event-editor
    [dateFromCell]="thisDay"
    (closeEventEditor)="closeFunc()"
    [calendarEvent]="calendarEvent"
    [weekNumber]="weekNumber"></app-event-editor>
</div>



