<div class="one-day" (click)="onClicked(thisDay)"
     [class.thisDay__event]="backgroundColor">
  <ng-container *ngIf="firstWeekFlag">
    <p>{{thisDay | date: 'EEEE, d'}}</p>
  </ng-container>
  <ng-container *ngIf="!firstWeekFlag">
    {{thisDay | date: 'd'}}
  </ng-container>
  <ng-container *ngFor="let event of events">
    {{event.date === thisDay ? setBackgroundColor() : null}}
    <ng-container *ngIf="event.date === thisDay">
      <div class="event-info">
        <p class="event-info__title">{{event.title}}</p>
        <p class="event-info__members">{{event.members || event.description}}</p>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="event-editor" *ngIf="userClickedOnThisDay && selectedDayForEditEvent === thisDay">
  <app-event-editor
    [dateFromCell]="thisDay"
    (closeEventEditor)="closeFunc()"
    [calendarEvent]="calendarEvent"
    [weekNumber]="weekNumber"></app-event-editor>
</div>



