::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(85,85,85,.7);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.searcher__triangle {
  color: white;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: -7px;
  left: 20px;
  height: 10px;
  width: 10px;
  text-shadow: 0 -3px 3px rgba(211,211,211,1);
  transform: scale(2, 1);
  -moz-transform: scale(2, 1);
  -webkit-transform: scale(2, 1);
}

.input__clear {
  font-size: 8px;
  font-weight: bold;
  padding: 7px 4px;
  position: absolute;
  right: 0;
}

.actions-bar__search-input {
  border: 1px solid darkgrey;
  border-radius: 2px;
  font-size: 10px;
  line-height: 18px;
  padding: 0 20px 0 3px;
  width: 135px;
}

.actions-bar__search-icon {
  font-size: 14px;
  font-weight: 600;;
}

.actions-bar__searcher {
  position: relative;
}

.searcher__autocomplete {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  position: absolute;
  left: 18px;
  top: 37px;
}

.searcher__results {
  max-height: 315px;
  width: 160px;
  overflow-y: scroll;
}
