.content__date-selector {
  max-height: 35px;
  padding-left: 30px;
}


.header {
  padding: 43px 40px 13px 39px;
  background-color: rgba(154, 154, 154, 0.2);
  border-bottom: 2px solid rgba(154, 154, 154, 0.5);
}

.actions-bar {
  display: flex;
  justify-content: space-between;
}
