.content__date-selector {
  max-height: 35px;
  padding-left: 30px;
}


.header {
  padding: 40px 40px 13px 38px;
  background-color: rgba(1,100,127,.2);
  border-bottom: 2px solid gray;
}

.actions-bar {
  display: flex;
  justify-content: space-between;
}
