.event-editor__triangle {
  color: white;
  display: inline-block;
  font-size: 25px;
  line-height: 15px;
  position: absolute;
  top: 25px;
  left: -15px;
  height: 10px;
  width: 20px;
  text-shadow: 3px 0 3px lightgrey;
  transform: scale(1, 2) rotate(180deg);
  -moz-transform: scale(1, 2) rotate(180deg);
  -webkit-transform: scale(1, 2) rotate(180deg);
}

.triangle_reverse-position {
  left: unset;
  right: -15px;
  transform: scale(1, 2);
  -moz-transform: scale(1, 2);
  -webkit-transform: scale(1, 2);
}

.triangle_upper-position {
  bottom: 20px;
  top: unset;
  right: -15px;
}

.event-editor__block {
  left: 105px;
  top: -32px;
  background: rgba(255, 255, 255, .7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 230px;
  position: absolute;
  padding: 18px 22px 18px 17px;
  width: 208px;
}

.event-editor__block_reverse-position {
  right: 107px;
  left: unset;
}

.event-editor__block_upper-position {
  top: unset;
  bottom: -70px;
}

.event-editor__button {
  background-color: rgba(255, 255, 255, .7);
  font-size: 8px;
  font-weight: 800;
  font-family: Verdana, sans-serif;
}


.event-editor__textarea,
.event-editor__input {
  background: rgba(255, 255, 255, .7);
  width: 100%;
}

.input {
  margin-bottom: 8px;
}

.textarea {
  margin: 20px 0;
  height: 90px;
  resize: none;
}

.button {
  margin: 0 3px;
  width: 45px;
  border-radius: 4px;
}
