<div [class.event-editor__block_reverse-position]="revertCSSPosition"
     [class.event-editor__block_upper-position]="upperCSSPosition"
     [class.event-editor__block]="!revertCSSPosition && !revertCSSPosition">
  <form (submit)="addNewEventToBase()">
    <label>
      <input type="text" class="event-editor__input input" [value]="calendarEvent.date">
    </label>
    <label>
      <input type="text" class="event-editor__input input" [value]="calendarEvent.description">
    </label>
    <label>
      <input type="text" class="event-editor__input input" [value]="calendarEvent.date">
    </label>
    <label>
      <textarea class="event-editor__textarea textarea"></textarea>
    </label>
    <button type="submit" class="event-editor__button button">Готово</button>
    <button type="button" class="event-editor__button button"
            (click)="deleteCurrentEvent()">Удалить
    </button>
  </form>
</div>

