.event-editor__title {
  font-size: 14px;
  margin: 4px;
}

.event-editor__date {
  margin: 12px 5px;
}

.event-editor__members {
  margin: 12px 5px;
  line-height: 14px;
}

.form-error {
  color: rgba(255, 0, 0, 1);
  font-size: 8px;
  position: absolute;
}

.event-editor__closer{
  color: rgba(0,0,0,1);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  line-height: 8px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.event-editor__closer:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.event-editor__triangle {
  color: white;
  display: inline-block;
  font-size: 25px;
  line-height: 15px;
  position: absolute;
  top: 25px;
  left: -15px;
  height: 10px;
  width: 20px;
  text-shadow: 3px 0 3px lightgrey;
  transform: scale(1, 2) rotate(180deg);
  -moz-transform: scale(1, 2) rotate(180deg);
  -webkit-transform: scale(1, 2) rotate(180deg);
}

.triangle_reverse-position {
  left: unset;
  right: -15px;
  transform: scale(1, 2);
  -moz-transform: scale(1, 2);
  -webkit-transform: scale(1, 2);
}

.triangle_upper-position {
  bottom: 20px;
  top: unset;
  right: -15px;
}

.event-editor__block {
  left: 111px;
  top: -111px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 10px;
  height: 225px;
  position: absolute;
  padding: 18px;
  width: 208px;
}

.event-editor__block_reverse-position {
  right: 107px;
  left: unset;
}

.event-editor__block_upper-position {
  top: unset;
  bottom: 10px;
}

.event-editor__button {
  background-color: rgba(255, 255, 255, .7);
  font-size: 8px;
  font-weight: 800;
  font-family: Verdana, sans-serif;
}


.event-editor__textarea,
.event-editor__input {
  background: rgba(255, 255, 255, .7);
  width: 200px;
}

.input {
  margin-bottom: 8px;
}

.textarea {
  margin: 20px 0 11px 0;
  height: 90px;
  resize: none;
}

.button {
  margin: 0 1px 0 0;
  width: 55px;
  border-radius: 4px;
  font-size: 8px;
  line-height: 12px;
}

.event-editor__description{
  margin: 7px 7px 16px 0;
  padding: 5px;
  font-size: 8px;
  height: 80px;
  width: 195px;
}

