* {
  padding: 0;
  margin: 0;
  font-family: Arial, serif;
}

body {
  /*background-image: url('assets/bcgrnd.jpg');*/
  background-repeat: no-repeat;
  background-position: center top;

}

.app-calendar {
  width: 800px;
  margin: auto;
}
