.button {
  background-color: rgba(0,94,197,.7);
  border: 1px solid rgba(0,94,197,.2);
  border-radius: 2px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  margin-right: 6px;
  padding: 6px 4px;
  width: 66px;
}
